---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Digital transformation and industry",
    description:
      "We are specialists in the strategic digital integration of company models, products, and processes.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Customer experience and design",
    description:
      "By blending technology and design, we produce a remarkable customer experience.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Artificial intelligence and data",
    description:
      "We create solutions powered by AI and enable innovative data-driven business models.",
    icon: "bx:bxs-data",
  },
  {
    title: "Cloud native: Development and operation",
    description:
      "We streamline the development, testing, and deployment of software and accelerate the process from concept to operation.",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start your digital transformation
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Incorporating digital technologies offers businesses with challenging situations, which demand individuals who can rise to them. You have just that partner with BPS Hubs. With specialized solutions catered to your requirements, we give your company a smooth and secure start in digital business. To achieve the best possible integration into your business processes, our focus is on tight collaboration.
  </p>
</div>

<div class="grid grid-cols-2 md:grid-cols-1 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
