---
import { Picture } from "@astrojs/image/components";
import graphicsImage from "assets/design-build-operate.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={graphicsImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      End-to-end business digitalization
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      BPS Hubs offers customized, future-oriented digital transformation of your company models, products, and processes. Our solutions, which are tailored precisely to your requirements, let your company stand out from the competition and unlock new potential.
    </p>
  </div>
</main>
